@model OrderLineUpdateDto

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Malzeme Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Update" asp-controller="OrderLine">
                    <div class="form-group">
                        <input type="hidden" class="form-control form-control-sm" asp-for="Id" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MaterialCode"></label>
                        <input class="form-control form-control-sm" asp-for="MaterialCode" required />
                        <span class="text-danger" asp-validation-for="MaterialCode"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaterialDescription"></label>
                        <textarea class="form-control form-control-sm" asp-for="MaterialDescription" required ></textarea>
                        <span class="text-danger" asp-validation-for="MaterialDescription"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity"></label>
                        <input class="form-control form-control-sm" asp-for="Quantity" required />
                        <span class="text-danger" asp-validation-for="Quantity"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UnitPrice"></label>
                        <input class="form-control form-control-sm" asp-for="UnitPrice" required />
                        <span class="text-danger" asp-validation-for="UnitPrice"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TaxRate"></label>
                        <input class="form-control form-control-sm" asp-for="TaxRate"  required/>
                        <span class="text-danger" asp-validation-for="TaxRate"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control form-control-sm" asp-for="TaxAmount" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control form-control-sm" asp-for="TotalAmount" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control form-control-sm" asp-for="OrderHeaderId" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">Vazgeç</button>
                        <input type="submit" value="Güncelle" class="btn btn-sm btn-outline-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>